.details-table {
    max-width: 900px;
    max-height: 200px;
    overflow: scroll;
}

.details-table {
    width: 100% !important;
    max-width: 900px;
    background: rgba(255,255,255,.3);
}

.details-table td:hover {
    background: rgba(0,0,0,.1);
}

.details-table .glyphicon:hover {
    cursor: pointer;
    color: #626262;
}

.details-table tr td {
    vertical-align: middle;
    padding: 0;
    height: 32px;
}

.details-table input:focus {
    background: rgba(255,255,255,.5) !important;
}

.details-table th:nth-child(1),
.details-table td:nth-child(1) {
    width: 14%;
}

.details-table th:nth-child(2),
.details-table td:nth-child(2) {
    width: 14%;
}

.details-table th:nth-child(3),
.details-table td:nth-child(3) {
    width: 10%;
}

.details-table th:nth-child(4),
.details-table td:nth-child(4) {
    width: 10%;
}

.details-table th:nth-child(5),
.details-table td:nth-child(5) {
    width: 10%;
}

.details-table th:nth-child(6),
.details-table td:nth-child(6) {
    width: 10%;
}

.details-table th:nth-child(7),
.details-table td:nth-child(7) {
    width: 10%;
}
.details-table th:nth-child(8),
.details-table td:nth-child(8) {
    width: 16%;
}
.details-table th:nth-child(9),
.details-table td:nth-child(9) {
    width: 6%;
}

.details-table th {
    text-align: center !important;
    cursor: default !important;
    background: rgba(255,255,255,.4);
}

.details-table td input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 14px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}