@import '../../../common/style/details-table.scss';
#userArea {
    p {
        margin: 0 0 0 0 !important;
    }
    h4 span {
        color: #4a68ad;
        padding: 0 10px;
    }
    input#id:hover {
        cursor: default !important;
    }
    
    #win-text{  
        tbody > tr>  td, thead >tr> th{
            border: 1px solid #aaa;
         }
        .win-documents{
            text-align: right;
        }
    }
}