@import '../../../common/style/details-table.scss';
#userArea {
    h4 span {
        color: #4a68ad;
        padding: 0 10px;
    }
    input#id:hover {
        cursor: default !important;
    }

    #win-text{
        #win-details-table > tbody > tr>  td, #win-details-table > thead >tr> th{
            border: 1px solid #aaa;
        }
        .win-documents{
            text-align: right;
            font-size:16px;
        }
    }
}