@import '../../../common/style/details-table.scss';
#manageArea #table {
    margin: auto;
    max-width: 900px;
    max-height: 200px;
    overflow: scroll;
    -webkit-box-shadow: rgba(0,0,0,.2) 0 5px 10px inset;
    -moz-box-shadow: rgba(0,0,0,.2) 0 5px 10px inset;
    box-shadow: rgba(0,0,0,.2) 0 5px 10px inset;
}