.navbar {
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);

    #ci-marketing-logo{
        background-image: url('../../assets/img/ciMarketing.png');
        width: 77px;
    }
    #minister-of-culture-logo{
        background-image: url('../../assets/img/ministryOfCultureAndSport.png');
        width: 180px;
    }
    #ci-marketing-logo:hover{
        background-image: url('../../assets/img/ciMarketingHover.png');
    }
    #minister-of-culture-logo:hover{
        background-image: url('../../assets/img/ministryOfCultureAndSportHover.png');
    }
    img, .logo-image {
        background-size: cover;
        display: inline;
        height: 50px;
        width: 50px;
        float: left;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h2 {
        display: inline-table;
        vertical-align: middle;
        color: #aaa;
        margin-top: 20px;
        margin-left: 10px;
        vertical-align: -webkit-baseline-middle;
        vertical-align: -moz-baseline-middle;
        vertical-align: baseline-middle;
        font-size: 17px;
        cursor: pointer;
    }

    h2:hover {
        color: #ededed;
    }

    h1 {
        display: inline-table;
        font-size: 30px;
        margin-top: 25px;
        color: white;
        vertical-align: middle;
        cursor: default;
        font-weight: 600;
    }

    h1:hover {
        font-size: 32px;
        margin-top: 24px;
        margin-right: -2px;
    }

    h4 {
        color: #ededed;
        font-size: 12px;
        display: inline-block;
        position: absolute;
        margin-top: 38px;
        margin-right: 10px;
        cursor: default !important;
    }

    h4:hover {
        color: #ededed;
        margin-top: 40px;
        margin-right: 9px;
        font-size: 14px;
    }
}